@charset "UTF-8";
.back1 {
  background-image: url("../img/botella_head.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
}

/* este es el epacio que existe dentro de las secciones */
.padd-secc {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.avatar {
  height: 30px !important;
  width: 30px !important;
}

/* este es el circulo blanco de los iconos del header */
.plus {
  border-radius: 50px;
  border: 1px white solid;
  padding: 5px;
}

/* este es el circulo de + en gris que va dentro de las tarjetas */
.plus2 {
  border-radius: 50px;
  border: 1px gray solid;
  padding: 5px;
}

/*este es el tamaño para lasfotosporque las recorte yno se ajustaban */
.foto {
  width: 100%;
}

.card-content {
  background-color: white;
  margin-top: 0;
}
