DOCTYPE
	html(lang="en")
		head
			meta(charset="utf-8")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			meta(name="description", content="")
			meta(name="author", content="")
			title Awwwards - Website
			link(type="text/css", rel="stylesheet", href="../materialize/css/materialize.min.css")  
			link(type="text/css", rel="stylesheet", href="../materialize/css/materialize.css")
			link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
			link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRoboto:300,400,500", rel="stylesheet", media="all")
			link(href="css/estilos.css",type="text/css", rel="stylesheet")
			link(href="css/font-awesome.css",type="text/css", rel="stylesheet")

body
	header
		nav.grey.lighten-3
			ul#slide-out.side-nav 
				li: a(href="#!")
					span.material-icons menu

			a(href="#",data-activates="slide-out").button-collapse

					a(href="x")
						img(src="img/logo.png",alt="awwwards").center.brand-logo
	section.back1.padd-secc
		div.row
			div.col.l3.white-text
				strong Site of the Day /
				span.thin Dec 14,2016
				div.btn.top290 Visit website
			div.col.l5.center.white-text
				h2.top100.bold HP Sound in Color
				p BY RESN FROM NETHERLANDS WITH 7.6
				
				div.preloader-wrapper.big.active.top20
					div.spinner-red-only
						div.circle-clipper.left
							div.circle
				div.preloader-wrapper.big.active.top20
					div.spinner-yellow-only
						div.circle-clipper.left
							div.circle
				div.preloader-wrapper.big.active.top20
					div.spinner-green-only
						div.circle-clipper.left
							div.circle
				div.preloader-wrapper.big.active.top20
					div.spinner-blue-only
						div.circle-clipper.left
							div.circle
			div.col.l4.right-align
				img(src="img/users/team.jpg").avatar.circle.responsive-img
				img(src="img/users/arnaud.png").avatar.circle.responsive-img
				img(src="img/users/henry.jpg").avatar.circle.responsive-img
				img(src="img/users/inknite.jpg").avatar.circle.responsive-img
				div.plus.white-text.material-icons add
				div.row.top290.right-align
					div.col.s12
						div.plus.white-text.material-icons device_hub
	section.padd-secc.grey.lighten-3
		div.row
			div.col.l6
				p Latest Nominees We need your vote!
			div.col.l6.right-align
				p Featured
		div.row
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/fancy.jpg").foto
				div.card-content
					strong.card-title Fancy
					p By CREATIVE NIGHTS from Czech Republic 
					p December 14, 2016 in Nominees
					div.row
						div.col.s12
							img(src="img/users/henry.jpg").avatar.circle.responsive-img
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							img(src="img/users/jomor.jpg").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/faq_page.jpg").foto
				div.card-content
					strong.card-title FAQ page - Protest Sportswear
					p Added by Awwwards Team In Forms & Natural Lan
					p December 14, 2016 in Nominees
					div.row
						div.col.s12
							img(src="img/users/inknite.jpg").avatar.circle.responsive-img
							img(src="img/users/team.jpg").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/fullscreen_menu.jpg").foto
				div.card-content
					strong.card-title Fullscreen Overlay Menu + Hover Effect
					p Added by Awwwards Team In Menus Done Well
					p December 14, 2016 in Nominees
					div.row
						div.col.s12
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							img(src="img/users/henry.jpg").avatar.circle.responsive-img
							img(src="img/users/team.jpg").avatar.circle.responsive-img
							img(src="img/users/inknite.jpg").avatar.circle.responsive-img
							img(src="img/users/jomor.jpg").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
		div.row
			div.col.l12.s12.center
				div.btn LOAD MORE
	section.padd-secc.grey.lighten-3
		div.row
			div.col.l12.s12
			strong.material-icons favorite 
			p Collections Stuff Digital Designers Love!
		div.row
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/mind.jpg").foto
				div.card-content
					strong.card-title Mind
					p By Awwwards Team in News
					div.row
						div.col.s12
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							img(src="img/users/team.jpg").avatar.circle.responsive-img
							img(src="img/users/inknite.jpg").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/mosaic_menu.jpg").foto
					
				div.card-content
					strong.card-title Mosaic Menu
					p Added by Awwwards Team In Menus Done Well
					div.row
						div.col.s12
							img(src="img/users/team.jpg").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/praticca.jpg").foto
				div.card-content
					strong.card-title Praticca
					p Added by Awwwards Team In Menus Done Well
					div.row
						div.col.s12
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
		div.row
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/increase.jpg").foto
				div.card-content
					strong.card-title Active Theory Wins SOTM November
					p By Awwwards Team in News
					div.row
						div.col.s12
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/inspiration.jpg").foto
					
				div.card-content
					strong.card-title Inspiration for Designers #81 via Muzli
					p Added by Awwwards Team In Articles
					div.row
						div.col.s12
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							img(src="img/users/henry.jpg").avatar.circle.responsive-img
							img(src="img/users/team.jpg").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/fullscreen_menu.jpg").foto
				div.card-content
					strong.card-title Fullscreen Overlay Menu + Hover Effect
					p Added by Awwwards Team In Menus Done Well
					div.row
						div.col.s12
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							img(src="img/users/henry.jpg").avatar.circle.responsive-img
							img(src="img/users/team.jpg").avatar.circle.responsive-img
							img(src="img/users/inknite.jpg").avatar.circle.responsive-img
							img(src="img/users/jomor.jpg").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
		div.row
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/standard_film.jpg").foto
				div.card-content
					strong.card-title Standard Film
					p By Awwwards Team in News
					div.row
						div.col.s12
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/tempo.jpg").foto
					
				div.card-content
					strong.card-title Interactive Musical Instruments with Midi.js
					p Added by Awwwards Team In Articles
					div.row
						div.col.s12
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							img(src="img/users/henry.jpg").avatar.circle.responsive-img
							img(src="img/users/team.jpg").avatar.circle.responsive-img
							img(src="img/users/inknite.jpg").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
			div.col.l4.s12
				div.card-image
					img(src="img/coleccion/ui.jpg").foto
				div.card-content
					strong.card-title The Hidden UI
					p By Lucas Dupin in The Best Articles
					div.row
						div.col.s12
							img(src="img/users/arnaud.png").avatar.circle.responsive-img
							img(src="img/users/henry.jpg").avatar.circle.responsive-img
							div.plus2.right.grey-text.material-icons add
		div.row
			div.col.l12.s12.center
				div.btn LOAD MORE






	script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
	script(type="text/javascript" src="../materialize/js/materialize.min.js")
	script(src="js/main.js")
		